.cart {
  padding-top: 120px;
  padding-bottom: 50px;
  min-height: 100vh;

  &__title {
    font-size: 36px;
    color: #fff;
    text-align: center;
    font-weight: 300;
  }

  &__list {
    width: 60%;
    margin: 0 auto;
  }

  &__submit {
    width: 200px;
    height: 40px;
    margin: 50px auto;
    display: block;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      background-color: rgb(221, 221, 221);
    }

    &:active {
      background-color: rgb(155, 155, 155);
    }

  }
}